@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import '~ngx-toastr/toastr.css';

.uppercase-text {
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 10px;
}

.sm-uppercase-text {
  text-transform: uppercase;
  font-size: 12px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
  background: white;
}

textarea {
  min-height: 75px;
}

.small-text {
  font-size: 13px;
}

.checkbox-input {
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.alight-text-center {
  text-align: center;
}

example-right-align {
  text-align: right;
}

td,
th {
  width: 20%;
}

input.example-right-align::-webkit-inner-spin-button,
input.example-right-align::-webkit-outer-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
/* snackbar Success */
.sb-success {
  font-family: 'Ubuntu', sans-serif;
}
/* //snackBar failed */
.sb-fail {
  background: #e23838;
}

.table-main {
  width: 85%;
}



.icon-pos {
  margin: 0 10px;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  margin: 0;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.white-box {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #ddd;
}

.align-header {
  align-items: center;
}

div[fxLayoutAlign] {
  padding: 15px 10px 10px 25px;
}

.body-container {
  padding: 5px;
  display: flex;
  justify-content: center;
}

div.container {
  padding-top: 5px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.home-container {
  padding-top: 25px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

div.container > div {
  flex: 1 1 5em;
  margin-left: 10px;
  height: 50px;
  margin-bottom: 10px;
}

.footer {
  bottom: 0;
  color: #58666e;
  background-color: white;
  left: 0;
  padding: 20px 30px;
  position: absolute;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.icon-color {
  color: #3a6bb4fd;
}

.btn-color {
  background-color: #3a6bb4fd;
  color: white;
}
/* header-nav */
.nav-bar {
  /* //for ingram test */
  background: #2f323e;
  /* background: #2a3f60; */
  color: white;
}

.top-bar {
  /* //for ingram test */
  background: #00529b;
  /* background: #3a6bb4fd; */
  color: white;
}

.nav-list {
  display: flex;
  color: white;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.button-row-center {
  display: flex;
  justify-content: center;
}

.custom-form-container {
  display: flex;
  flex-direction: column;
}

.auth-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

/* //projects */
table {
  width: 100%;
  border: 1px solid #ddd;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-input {
  width: 30%;
}

.input-sm {
  font-size: 14px;
  width: 25%;
}

.mat-datepicker {
  width: 300px;
}

.input-md {
  font-size: 14px;
  width: 50%;
}

.input-lg {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

.add-btn-pos {
  justify-content: flex-end;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
// NOTE: THIS IS WHAT I PLAN ON KEEPING FOR PRODUCTION
.card-border {
  border: 1px solid;
  height: 317px;
  max-height: 317px;
  overflow: auto;
}

.btn-spacing {
  margin-right: 14px;
}
// auth and registration cards
.card-main {
  max-width: 400px;
  border: 1px solid #ddd;
}
// view project / pdf generation
.ital {
  font-style: italic;
  font-size: 12px;
}

.align-header {
  align-items: center;
}

.form-border {
  border: 1px solid #ddd;
  height: 250px;
  display: block;
  margin-bottom: 20px;
}

.object-bot-margin-md {
  margin-bottom: 20px;
}

.body-text {
  padding: 0 10px 5px;
}

.sponsor-border {
  border-left: 2px solid;
  border-color: #3a6bb4fd;
  border-radius: 8px;
  border-right: 2px solid;
  border-right-color: #3a6bb4fd;
  padding-left: 10px;
  padding-right: 10px;
}

.img-border {
  border-left: 2px solid;
  border-color: #3a6bb4fd;
  border-radius: 8px;
  border-right: 2px solid;
  border-right-color: #3a6bb4fd;
  padding-left: 20px;
  padding-right: 20px;
}

.card-bottom-margin {
  margin-bottom: 15px;
}
// ---------
