
<div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="95" fxFlex.xs="45">
    <div class="white-box mat-elevation-z8">
      <div flex fxLayout="row" class="add-btn-pos">
        <button mat-stroked-button class="btn-color mat-elevation-z4" routerLink="create">Add Project</button>
      </div>
      <mat-form-field class="input-lg">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>
      <span *ngIf="loading"></span>
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No</th>
          <td mat-cell *matCellDef="let project"> {{project.id}} </td>
        </ng-container>
        <ng-container matColumnDef="datecreated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
          <td mat-cell *matCellDef="let project"> {{project.createdAt | date}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
          <td mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>
        <ng-container matColumnDef="projectsponsor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Sponsor </th>
          <td mat-cell *matCellDef="let project"> {{project.projectSponsor}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let project">
            <button mat-icon-button class="icon-color" matTooltip="Details" matTooltipPosition="right" routerLink="view/{{project.id}}">
              <i class="fas fa-info-circle fa-lg"></i>
            </button>
            <span *ngxPermissionsOnly="[adminRole]">
            <button mat-icon-button matTooltip="Edit" matTooltipPosition="right" class="icon-color" routerLink="update/{{project.id}}">
              <i class="fas fa-pencil-alt fa-lg"></i>
            </button>
            <button mat-icon-button matTooltip="Delete" matTooltipPosition="right" color="warn" (click)="onDelete(project.id)">
              <i class="fas fa-trash-alt fa-lg"></i>
            </button>
          </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
</div>
